{% extends "base.html" %}

{% block content %}
{% include 'head_tmpl.html' %}

<div class="container">
    <div class="row text-center">
        {% for i in range %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Удобный сервис рассылок</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$ 140</h1>
                    {% load tagsfilters %}
                    <img class="img-fluid" src="{{ img|absolute_path }}" />
                    <img class="img-fluid" src="{% abspth img %}" />
                    <p>
                        {{ desc|truncatechars:100 }}
                    </p>
                    <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="/product/">Купить</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}