{% extends "base.html" %}

{% block content %}
{% include 'head_tmpl.html' %}

<div class="container">
    <div class="row text-center">
        {% for p in model %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{p.name}}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{p.purchase_price}} р.</h1>
                    {% load tagsfilters %}
                    <img class="img-fluid" src="{{ p.image|absolute_path }}" />
                    <p>
                        {{ p.description|truncatechars:100 }}
                    </p>
                    <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="/product?id={{p.id}}">Купить</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}